{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "globals": {
    "_": true,
    "React": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "max-len": [2, 120]
  }
}
