<h3 class="logo">[lollipop.hiphop]</h3>

<%= react_component('Radio', {
	audioSrc: Rails.configuration.x.ireul["stream_link"],
	backgroundElementSelector: "html",
	chat: Rails.configuration.x.ireul["webchat"]
}) %>

<div class="footer">
	<a class="github-link" href="https://github.com/gyng/ireul-web">GitHub</a>
</div>
