<div class="news-article-entry">
  <h2 class="article-title"><%= link_to article.title, article %></h2>

  <div class="article-content">
    <%= simple_format(article.content, {}, sanitize: false) %>
  </div>

  <div class="article-info">
    <%= content_tag :div, article.created_at.strftime("%B %-d, %Y"), title: article.created_at %>

    — <span class="article-user"><%= article.user.name if article.user %></span>
  </div>
</div>
