<tr class="news-article-entry">
  <h2 class="article-title"><%= link_to article.title, article %></h2>

  <div class="article-content">
    <%=
      sanitize(article.content,
        tags: %w(a ul li ol strong em code pre br marquee img video iframe),
        attributes: %w(href class style width height src frameborder allowfullscreen)
      )
    %>
  </div>

  <div class="article-info">
    <%= content_tag :div, article.created_at.strftime("%B %-d, %Y"), title: article.created_at %>

    — <span class="article-user"><%= article.user.name if article.user %></span>
  </div>
</tr>
