<%= render partial: 'layouts/logo' %>

<div class="container">
  <div class="header">
    <%= link_to 'Back', news_path %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <%= render partial: 'news_article', object: @article, as: 'article' %>
</div>
