.article-title {
  margin-bottom: $font-size-l;

  a {
    color: inherit;

    &:hover {
      color: $color-flair;
    }
  }
}

.article-info {
  font-style: italic;
  margin-top: $font-size-l;
}

.news,
.news-article-entry {
  width: $magic-width;
}

.news {
  padding-bottom: 2rem;
}

.news-article {
  margin-bottom: 2em;
  padding: 2rem;

  &:not(:first-child) {
    border-top: 1px solid $color-gray-light;
  }
}

.article-content,
.news-article-content {
  overflow-x: auto;
}

.news-article-content {
  margin-top: 1em;
}

.news-article-author {
  font-style: italic;
  margin-top: 1em;
}

.news-articles {
  padding-bottom: 2em;
  width: 100%;
}

.article-list-table {
  .article-user {
    width: 10%;
  }

  .article-title {
    width: 25%;
  }

  .article-controls {
    width: 50px;
  }

  td {
    padding: 1em 0;
  }
}
