body {
  color: $color-body-text;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ST Heiti', FangSong, sans-serif;
  font-size: $font-size-m;
  line-height: 1.5 * $font-size-m;
}

p,
ol,
ul,
td,
a,
th {
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ST Heiti', FangSong, sans-serif;
  font-size: $font-size-m;
  line-height: 1.5 * $font-size-m;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:visited {
    color: $color-blue;
  }

  &:hover {
    color: $color-flair;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: $font-size-xxxl;
  padding: 3.2rem 0 2.6rem;
}

h2 {
  font-size: $font-size-xxl;
  padding: 2.6rem 0 1.2rem;
}

h3 {
  font-size: $font-size-m;
  font-style: italic;
}

input[type=text],
input[type=password],
select {
  background-color: transparent;
  color: $color-input-text;
  font-size: $font-size-m;
  min-height: 2 * $font-size-m;
  outline: none;
  transition: border-color .1s;

  &:focus {
    border-color: $color-flair;
  }
}

input[type=text],
input[type=password] {
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
}

select {
  border-style: solid;
  border-width: 1px;
}

button,
input[type="submit"] {
  @include clickable;
  min-height: 4rem;
}

input[type="file"] {
  @include clickable;
}

.container {
  align-items: center;
  background-color: $color-card-background;
  border-top: 4.8rem solid $color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 5rem;
  max-width: $container-max-width;
  padding: 0 0 4.8rem;

  .header,
  .content,
  form,
  table {
    margin: 1.5rem 0 0;
    min-width: 85%;
  }

  .header a {
    margin: 0 .4rem;
  }

  table {
    max-width: 85%;
  }

  td {
    vertical-align: top;
  }

  form {
    #error_explanation {
      border-left: 2.4rem solid $color-red;
      margin: 0 0 2rem;
    }

    .field_with_errors {
      display: flex;
      background-color: $color-red;

      input[type="text"],
      input[type="password"] {
        width: 100%;
      }
    }

    label {
      font-size: $font-size-m;
      margin: 1.6rem 0 .5rem;
    }

    .fields {
      display: flex;
      flex-direction: column;

      input[type="file"] {
        flex: 1;
      }
    }

    .actions {
      margin: 1.6rem 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-width: 85%;
  }
}

#notice,
#error_explanation {
  background-color: $color-card-background-lighter;
  color: $color-white;
  padding: 1.6rem;
}

#notice {
  border-left: 2.4rem solid $color-green;
}

table {
  border-collapse: collapse;

  .controls {
    align-items: center;
    display: flex;
  }

  .numeric {
    font-family: monospace;
    text-align: right;
  }

  thead,
  th {
    border-bottom: solid 1px $color-white;
  }

  th {
    font-variant: small-caps;
    padding: .8rem 0;
    text-align: left;
  }

  .vertical {
    td:first-child {
      padding-right: 1.6rem;
      text-align: right;
      width: 20%;
    }

    td {
      vertical-align: top;
      word-break: break-all;
    }
  }
}

.image-set {
  width: 95%;
}

.logo {
  align-items: center;
  display: flex;
  height: 9.6rem;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 1.6rem 0;

  a {
    color: $color-card-background-lighter;
    font-size: $font-size-s;
    opacity: .5;

    &:hover {
      color: $color-flair;
      opacity: 1;
      transition: color .1s;
    }
  }
}

.pagination {
  font-size: $font-size-m;
  margin-top: 1.6rem;

  .first,
  .prev,
  .next,
  .last {
    a {
      @include clickable-link;
      color: $color-white;

      &:hover {
        color: $color-flair;
      }
    }
  }

  a {
    padding: .8rem;
    text-decoration: none;
  }

  .page a,
  .current {
    padding: 1.6rem;
  }

  .current {
    color: $color-flair;
  }
}
