div[data-react-class="Radio"] {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 96%;
}

.radio {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: $container-max-width;

  > div {
    background-color: $color-card-background;
    margin: 1.6rem 0;
    padding: 1.6rem 3.2rem;
  }
}

.queue-history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $font-size-s;
  margin: 3.2rem 0;

  .queue,
  .history {
    align-items: center;
    flex: 1;
    margin-bottom: 1rem;
    min-width: 30rem;
    text-align: center;

    .queue-title {
      font-variant: small-caps;
    }
  }
}

.song-library {
  display: flex;
  flex-direction: column;

  .tabs {
    margin: 0 0 1.6rem;
  }
}

.song-searcher {
  display: flex;
  flex-direction: column;

  .song-searcher-results {
    margin-top: 1rem;
  }
}

.tabs {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include clickable;

    flex: 1;

    &:hover {
      background-color: $button-highlight-color;
      color: $color-flair !important;
      cursor: pointer;
    };
  }
}

.radio-player {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.now-playing {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 3.8rem;
  margin: 3.2rem 0 1.6rem;

  .title {
    font-size: $font-size-xl;
    text-align: center;
  }

  .artist {
    font-size: $font-size-l;
    text-align: center;
  }
}

.song-list {
  width: 100%;
}

.song-list-table {
  width: 100%;
  .artist-header { width: 25%; }
  .title-header { width: 35%; }
}

.song-list-row {
  display: flex;
  flex-wrap: wrap;

  td {
    align-items: center;
    display: flex;
  }

  .artist,
  .title {
    display: inline-block;
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.song-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-browser {
  .paginator {
    display: flex;
    justify-content: center;
    margin: 1.6rem 0 0;
    width: 100%;

    button,
    div {
      display: flex;
      margin: 0 3.2rem;
    }

    .page-info {
      align-items: center;
      font-size: $font-size-m;
    }
  }
}

.copy-link {
  color: $color-gray;
  font-size: 1.2rem;
}

.listener-count {
  color: $color-gray;
  cursor: help;
  margin-left: 1rem;
}

.nice-button {
  @include no-select;

  color: $color-gray;
  cursor: pointer;
  margin-left: 1rem;
  transform: scale(1);

  &:hover {
    color: $color-flair;
  }

  &:active {
    transform: scale(2.5);
    transform-origin: .5rem 50%;
    transition: transform .4s cubic-bezier(.680, -.550, .265, 1.550);
  }
}

.audio-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.6rem;
  width: 100%;

  .progress {
    background-color: $color-card-background-lighter;
    border: 0;
    height: .3rem;
    width: $magic-width;

    .value {
      background-color: $color-flair;
      height: 100%;
      transition: all 1s;
    }
  }

  .below-bar {
    display: flex;
    font-size: $font-size-s;
    margin: .5rem 0 0;
    text-align: right;
    width: $magic-width;

    .time-info {
      min-width: 5rem;
    }

    .slider {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 2rem;
      margin-left: auto;
      margin-right: 2rem;
      margin-top: .2rem;
      width: 10rem;

      .fill {
        background-color: $color-card-background-lighter;
        height: .2rem;
        width: 100%;
      }

      .handle {
        background-color: $color-white;
        border-radius: 1rem;
        height: 1.4rem;
        margin-top: -.6rem;
        width: 1.4rem;

        &:hover {
          background-color: $color-flair;
        }
      }
    }

  }

  .controls {
    display: flex;
    flex-direction: column;
    margin: 1.6rem 0 .3rem;
    width: $magic-width;

    .play-button-false,
    .play-button-true {
      height: 6.4rem;
      overflow: hidden;
      transition: all .4s cubic-bezier(.680, -.550, .265, 1.55);
      transition-property: margin-right, opacity;
      width: 100%;

      p {
        @include clickable-style;
        align-items: flex-start;
        border: 0;
        display: flex;
        font-size: 4rem;
        height: 100%;
        justify-content: center;
        margin: 0;
        transition: margin-top 0.4s cubic-bezier(.680, -.550, .265, 1.55);
        width: 100%;

        &:hover {
          color: $color-flair !important;
          cursor: pointer;
        }
      }

      &::after {
        content: '🔇';
        font-size: 1.8rem;
        left: calc(100% - 1.8rem);
        position: relative;
        text-align: right;
        top: -12rem;
        width: 100%;
      }
    }

    .play-button-false {
      p {
        margin-top: 0;
      }

      &::after {
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    .play-button-true {
      p {
        margin-top: 8rem;
      }

      &:hover {
        p {
          margin-top: 0;
        }

        &::after {
          opacity: 0;
          transition: opacity 0.2s;
        }
      }

      &::after {
        opacity: .8;
        transition: opacity 3s cubic-bezier(.755, .050, .855, .060);
      }
    }
  }
}
